.body {
    background-image: url('https://wallpapers.com/images/featured/hd-a5u9zq0a0ymy2dug.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.card {
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, .1);
}

.allData {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.allWatherBox {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}